<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
    	.tip{color: #f00;}
    </style>
  </head>
  <body>
  <div class="container">
  	<p><a href="/">Retour à l'accueil</a></p>
  	<h1>Connexion</h1>
  	<form action="/user/login/" method="post">
  		<% if(errmsg){ %>
  		<p class="tip">*<%= errmsg %></p>
  		<% } %>
  		<p>Nom d'utilisateur:<input type="text" name="username" required="required"></p>
  		<p>Mot de passe: <input type="password" name="password" required="required"></p>
  		<p><input type="submit" name="submit" value="submit"></p>
  	</form>
  	<p>Vous n'avez pas de compte?<a href="/user/reg">Cliquez pour vous inscrire</a></p>
  </div>
  </body>
</html>